<h1>Dices</h1>
<br />
<br />

<table>
  <thead>
    <tr>
      <th class="tg-0lax">
        
      </th>
      <th class="tg-0lax">
        
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0lax">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="rolldice(100)">d100</button>
      </td>
      <td class="tg-0lax">
        <div id="dicevalue100"></div>
      </td>
    </tr>
    <br />
    <tr>
      <td class="tg-0lax">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="rolldice(10)">d10</button>
      </td>
      <td class="tg-0lax">
        <div id="dicevalue10"></div>
      </td>
    </tr>
    <br />
    <tr>
      <td class="tg-0lax">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="rolldice(6)">d6</button>
      </td>
      <td class="tg-0lax">
        <div id="dicevalue6"></div>
      </td>
    </tr>
    <br />
    <tr>
      <td class="tg-0lax">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="rolldice(4)">d4</button>
      </td>
      <td class="tg-0lax">
        <div id="dicevalue4"></div>
      </td>
    </tr>
    <br />
    <tr>
      <td class="tg-0lax">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="rolldice(12)">d12</button>
      </td>
      <td class="tg-0lax">
        <div id="dicevalue12"></div>
      </td>
    </tr>
    <br />
    <tr>
      <td class="tg-0lax">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="rolldice(8)">d8</button>
      </td>
      <td class="tg-0lax">
        <div id="dicevalue8"></div>
      </td>
    </tr>
    <br />
  </tbody>
</table>



