table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th,
td {
    padding: 0.5em;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

tbody tr:nth-child(even) {
    background-color: white;
}

.text-right {
    text-align: right;
}