<h1 id="tableLabel">Accessories</h1>

<p *ngIf="!boards"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="boards">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Zdjęcie</th>
      <th>Cena </th>
      <th>Cena EUR</th>
      <th>Cena USD</th>
      <th>Cena PLN</th>
      <th>Dodaj do koszyka</th>
      <th>Opis</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let board of boards">
      <td>{{ board.id }}</td>
      <td>
        <a [routerLink]='["/travel-detal", board.id]'>
          {{ board.name }}
        </a>

      </td>
      <td><img class="shop-articles" src="{{ board.picture }}" /></td>
      <td>{{ board.price }}</td>
      <td>{{ board.priceEUR }}</td>
      <td>{{ board.priceUSD }}</td>
      <td>{{ board.pricePLN }}</td>
      <td><button class="btn btn-primary btn-lg" (click)="buyProcess(board.id, board.name, board.priceEUR, board.priceUSD, board.pricePLN)">Dodaj do koszyka</button></td>
      <td>Description</td>
    </tr>
  </tbody>
</table>
