<h1 id="tableLabel">Fruits</h1>

<p>This component demonstrates fetching fruits list from the server.</p>

<p *ngIf="!boards"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="boards">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Picture</th>
      <th>Button</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let board of boards">
      <td>{{ board.id }}</td>
      <td>
        <a [routerLink]='["/fruits-detal", board.id]'>
           {{ board.name }}
        </a>
        
      </td>
      <td><img class="shop-articles" src="{{ board.picture }}" /></td>
      <td><button class="btn btn-primary btn-lg" (click)="buyProcess(board.id, board.name)">Buy</button></td>
      <td>Description</td>
    </tr>
  </tbody>
</table>
