
@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Views/Shared/_RejestracjaLayout.cshtml";
}
@section PasekGorny
{
    <p>To jest w sekcji paska gornego. </p>
}

@section PasekDolny
{
    <p>To jest w sekcji paska dolnego. </p>
}

<h2>Rejestracja</h2>

Witamy w serwisie, prosze o dokonanie rejestracji.

